name: Run Lint and Tests

on:
  pull_request:
    branches:
      - main
      - alpha
      - beta
      - next

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - run: npm ci

      - run: npm run lint

      - run: npm run types
